@model IEnumerable<MVC.Models.Tarefa>

    @{
        ViewData["Title"] = "Buscar por Titulo da tarefa";
    }

<h2>Localizar tarefa por título</h2>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label class="control-label"></label>
                <div class="input-group">
                    <input astype="text" name="titulo" id="titulo" class="form-control" />
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
@{
    if(Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Status)
                        </td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}

<hr />
<div>
    <a asp-action="Index">Voltar</a>
</div>